<a href="https://colab.research.google.com/github/Alexher90/An-lisis-de-Datos-2/blob/master/Solucion_Semana11_SistemasRecomendacionPorContenido_Actividad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## MIIA-4203 MODELOS AVANZADOS PARA ANÁLISIS DE DATOS II


# Sistemas de Recomendación basados en contenido

## Actividad 11


### Profesor: Camilo Franco (c.franco31@uniandes.edu.co)

En este cuadernos estudiaremos los sistemas de recomendacion basados en contenido. Seguiremos trabajando con  la base de datos de películas de IMDB (https://www.imdb.com/)

**Presentado por:**

**Alexander Hernández Páez: 200920588**

**Juan David Cortés: 201728568**

**Wilson Felipe González: 200924943**

**Alexander Camargo: 200911325**

## Introducción

Los recomendadores basados en contenido se construyen a partir de la identificación de ítems que el usuario prefiere, y la búsqueda de ítems similares en función de determinados atributos, como por ejemplo el género, la sinopsis o el reparto (actores, etc). De esta manera, si el usuario tiene unas preferencias específicas sobre un ítem específico, también podría tener preferencia por un ítem *similar*.

Primero carguemos los datos con los que vamos a trabajar:

In [ ]:
# Importamos la biblioteca Pandas
import pandas as pd

# Cargamos los datos de peliculas de la base de datos IMDB
metadata = pd.read_csv('movies_metadata.csv', low_memory=False)

print(metadata.shape)
      
list(metadata)
#metadata.shape

(45466, 24)

['adult',
 'belongs_to_collection',
 'budget',
 'genres',
 'homepage',
 'id',
 'imdb_id',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'poster_path',
 'production_companies',
 'production_countries',
 'release_date',
 'revenue',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'video',
 'vote_average',
 'vote_count']

In [ ]:
# Así se ven los datos
metadata.head(3)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0

[3 rows x 24 columns]

## 2 .Recomendación de peliculas mas populares por genero

Ahora recordemos la recomendación de películas por género de acuerdo con su popularidad, donde calculamos el voto promedio ponderado $\mu_i$, de la $i$-ésima película como:

$$
\mu_i  = \left( \frac{v_i}{v_{max}} \right) R_i 
$$

donde $v_i$ es el número de votos para la $i$-ésima película, $v_{max}$ es el máximo número de votos que recibe la película más popular, y $R$ es el rating promedio de la pelicula.

In [ ]:
import numpy as np
from ast import literal_eval

# trabajamos la informacion por generos
metadata['genres'] = metadata['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

# añadimos la variable del año
metadata['year'] = pd.to_datetime(metadata['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

metadata.head(3)

   adult                              belongs_to_collection  ... vote_count  year
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  ...     5415.0  1995
1  False                                                NaN  ...     2413.0  1995
2  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...  ...       92.0  1995

[3 rows x 25 columns]

Primero nos quedamos con todos los generos:

In [ ]:
generos = metadata.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)
generos.name = 'genre'
gen_md = metadata.drop('genres', axis=1).join(generos)

gen_md.head(3)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

   adult                              belongs_to_collection  ...  year      genre
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  ...  1995  Animation
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  ...  1995     Comedy
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  ...  1995     Family

[3 rows x 25 columns]

Construimos una funcion para un género particular y que tome en cuenta peliculas con un número vmin de votos:

In [ ]:
def rec_gen(genero, vmin):
    df = gen_md[gen_md['genre'] == genero]
    v = df[df['vote_count'].notnull()]['vote_count'].astype('int')
    R = df[df['vote_average'].notnull()]['vote_average'].astype('int')
    m = df['vote_average'].max()
    
    pelisG = df[(df['vote_count'] >= vmin) & (df['vote_count'].notnull()) & (df['vote_average'].notnull())][['title', 'year', 'vote_count', 'vote_average', 'popularity', 'overview', 'homepage']]
    pelisG['vote_count'] = pelisG['vote_count'].astype('int')
    pelisG['vote_average'] = pelisG['vote_average'].astype('int')
    
    pelisG['wr'] = v/m * R
    pelisG = pelisG.sort_values('wr', ascending=False).head(250)
    
    return pelisG

Veamos el Top-15 de recomendaciones en Ciencia Ficción:

In [ ]:
k = 15
scifi = rec_gen('Science Fiction', 1000)
scifi.head(15)

                              title  ...       wr
15480                     Inception  ...  11260.0
22879                  Interstellar  ...   8949.6
14551                        Avatar  ...   8479.8
17818                  The Avengers  ...   8400.0
23753       Guardians of the Galaxy  ...   7009.8
26553            Mad Max: Fury Road  ...   6740.3
2458                     The Matrix  ...   6355.3
12588                      Iron Man  ...   6265.7
18244              The Hunger Games  ...   5780.4
26555  Star Wars: The Force Awakens  ...   5595.1
256                       Star Wars  ...   5422.4
20830                    Iron Man 3  ...   5370.6
25084                Jurassic World  ...   5305.2
26567    Captain America: Civil War  ...   5223.4
30051                   The Martian  ...   5209.4

[15 rows x 8 columns]

Inception e Interstellar aparecen en las dos primeras posiciones. Personalmente me gusta más Interstellar (si quieres ver un agujero negro, esta película es lo mejor que podrás conseguir), pero reconozco que Inception tiene mucho nivel. Podemos seguir refinando este tipo de recomendaciones prestando atención a los distintos atributos que tenemos disponibles sobre las películas.

## 3. Sistemas de recomendación basados en contenido

Este tipo de sistemas basados en contenido utiliza información específica sobre el ítem o producto de recomendación. Por ejemplo, si no contamos con información del rating de las peliculas pero sabemos que un usuario vió o que le gustó cierta película, podríamos utilizar la descripción o resumen de la película para construir nuevas recomendaciones a partir de peliculas con contenidos *similares*.

A continuación vamos a construir un sistema que recomiende películas en función de sus descripciones o "su trama". Entonces necesitamos calcular funciones de similitud de acuerdo con la descripción linguistica de cada película.

En nuestros datos, la descripción de cada película la encontramos bajo el atributo "overview". Veamos a continuación las tramas de las primeras 5 peliculas recomendadas de Ciencia Ficcion:

In [ ]:
pd.set_option('display.max_colwidth', -1)
scifi[['title', 'overview']].head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  """Entry point for launching an IPython kernel.

                         title                                                                                                                                                                                                                                                                                                   overview
15480  Inception                Cobb, a skilled thief who commits corporate espionage by infiltrating the subconscious of his targets is offered a chance to regain his old life as payment for a task considered to be impossible: "inception", the implantation of another person's idea into a target's subconscious.
22879  Interstellar             Interstellar chronicles the adventures of a group of explorers who make use of a newly discovered wormhole to surpass the limitations on human space travel and conquer the vast distances involved in an interstellar voyage.
14551  Avatar                   In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.
17818  The Avengers             When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!
23753  Guardians of the Galaxy  Light years from Earth, 26 years after being abducted, Peter Quill finds himself the prime target of a manhunt after discovering an orb wanted by Ronan the Accuser.

### 3.1 Estimación de similitudes y procesamiento de lenguage natural

En primera instancia podemos evaluar las similitudes entre las películas a partir de la descripción linguística de su contenido. Pero, **¿cómo calculamos estas similitudes, o más aun, cómo procesamos los caracteres linguisticos, las palabras y las frases para calcular dichas similitudes?**

A continuación vamos a ver una primera aproximación al análisis de texto a nivel de *términos* o *palabras*. Para ello, vamos a computar el ínidice TF-IDF (del inglés "Term Frequency-Inverse Document Frequency"), el cual se puede entender como una ponderación de la relevancia de los términos encontrados en cada resumen.  

### 3.1.1 Indice TF-IDF
El índice TF-IDF mide la relevancia de un término linguístico ($t$) por cada resumen o documento que estemos analizando ($d$), tomando la frecuencia del término en cada resumen $tf(t,d)$, y multiplicandola por la frecuencia inversa de la ocurrencia del término en la muestra de resumenes $idf(t)$. De esta manera se extrae la importancia/significancia de los términos/palabras como información numérica para la estimación de la similitud entre películas.

Consideremos un conjunto de resumenes ($D$). En este conjunto es de esperar que los artículos linguísticos sean muy comunes (en ingles "a", "the",...), los cuales no ofrecen en verdad información relevante acerca del contenido de una película. Entonces, si fueramos a introducir el conteo de las palabras directamente a nuestro cálculo de las similitudes (o a un clasificador), esos términos más frecuentes añadirían ruido sobre otros términos menos frecuentes pero posiblemente más interesantes (en verdad relevantes para entender el contenido de las películas). 

De esta manera, la frecuencia de un término $t$ en un resumen $d$ está dada por $tf(t,d)$, y el índice $tf-idf(t,d)$ está dado por 

$$tf-idf(t,d)=tf(t,d)\times idf(t)  $$

donde $$ idf(t)=\log \frac{1+n}{1+df(t)}+1 $$

siendo $n$ el número total de resumenes en $D$ y $df(t)$ es el número de resumenes en $D$ que contienen el término $t$.
 
El resultado de los vectores $tf-idf(d)$, de todos los términos en cada documento, son normalizados por la norma Euclideana $L2$, tal que 

$$ tf-idf(t,d)_{norm} = \frac{tf-idf(t,d)}{\sqrt{tf-idf(t_1,d)+...+tf-idf(t_T,d)}}$$

donde $T$ es el número total de términos.

**Por ejemplo**, *si tenemos 3 términos en 3 resumenes, el primer término $t_1$ aparece 3 veces en el primer resumen $d_1$, 2 veces en el segundo resumen $d_2$ y 3 veces en el tercer resumen $d_3$. El segundo término $t_2$ aparece dos vez en el primer resumen $d_1$, y el tercer término $t_3$ solo aparece una vez en el tercer resumen $d_3$. *

*Entonces $df(t_1)=3$, $df(t_2)=1$ y $df(t_3)=1$.*

*Luego, $idf(t_1)=log(4/4)+1=1$, $idf(t_2)=idf(t_3)=1.69$.*

*Por lo tanto, antes de normalizar, $tf-idf(t_1,d_1)=3\times 1=3$, $tf-idf(t_2,d_1)=2\times 1.69=3.38$ y $tf-idf(t_3,d_1)=0\times 1.69=0$.* 

*Tras la normalización, tendriamos que  $tf-idf(d_1)=\frac{(3,3.38,0)}{\sqrt{9+11.42+0}}=(0.66,0.74,0)$*

La biblioteca **scikit-learn** ofrece la clase *TfIdfVectorizer*, la cual produce una matriz TF-IDF de manera sencilla. Entonces, este índice lo calculamos utilizando los parámetros por defecto del transformador `TfidfTransformer`: `TfidfTransform(norm='l2', use_idf=True, smooth_idf=True, sublinear_tf=False)`.


Como resultado, vamos a obtener una matriz cuyas columnas representan la relevancia (TF-IDF) de los términos presentes en los resumenes de cada película.

In [ ]:
# Utilizamos el TfIdfVectorizer de la biblioteca scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
# Definimos el objeto TF-IDF. 
# También se podrían remover articulos (comunes) como 'the', 'a' con (stop_words='english')
tfidf = TfidfVectorizer()  

# Reemplazamos valores NaN con espacio vacío
metadata['overview'] = metadata['overview'].fillna('')

# Construimos la matriz TF-IDF ajustando y transfromando los datos
tfidf_mat = tfidf.fit_transform(metadata['overview'])
pd.DataFrame(tfidf_mat).head()
# La salida con las dimensiones de tfidf_matrix
tfidf_mat.shape

(45466, 76132)

### Pregunta 3.1

- Cuántos términos fueron necesarios para describir las peliculas de nuestra base de datos?

- Qué tipo de matriz es `tfidf_mat`?

In [ ]:
# Definimos el objeto TF-IDF. 
# También se podrían remover articulos (comunes) como 'the', 'a' con (stop_words='english')
tfidf = TfidfVectorizer(stop_words='english')  

# Reemplazamos valores NaN con espacio vacío
metadata['overview'] = metadata['overview'].fillna('')

# Construimos la matriz TF-IDF ajustando y transfromando los datos
tfidf_mat = tfidf.fit_transform(metadata['overview'])
pd.DataFrame(tfidf_mat).head()
# La salida con las dimensiones de tfidf_matrix
tfidf_mat.shape

(45466, 75827)

**- Sin excluir artículos comúnes que no proporcionan información (stopwords), se requirieron 76132 términos para describir las sinopsis de las películas. Utilizando el argumento stopwords = True, se requirieron 75827 términos.**

**- tfidf_mat es una matriz comprimida que contiene la codificación de cada término por cada película con su respectivo indicador de relevancia.**

In [ ]:
print(pd.DataFrame(tfidf_mat).head())
print(type(tfidf_mat))

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    0
0    (0, 17764)\t0.13483149538639247\n  (0, 4388)\t0.1474882034218405\n  (0, 38030)\t0.10142919482788751\n  (0, 21887)\t0.10438761058719498\n  (0, 19641)\t0.13281884272823927\n  (0, 48558)\t0.10339358185033234\n  (0, 59519)\t0.13008016104455086\n  (0, 12490)\t0.12544427954397822\n  (0, 51108)\t0.13434817283119177\n  (0, 29238)\t0.10093917370354445\n  (0, 50914)\t0.09190797940163035\n  (0, 39423)\t0.11907123344715953\n  (0, 1847)\t0.140911774178889\n  (0, 58571)\t0.1135591886873686\n  (0, 38693)\t0.20627924682810617\n  (0, 9874)\t0.5028038686135609\n  (0, 9087)\t0.10635375129287977\n  (0, 7491)\t0.12380553184830104\n  (0, 56872)\t0.111248510865236\n  (0, 28729)\t0.13311522181618415\n  (0, 39012)\t0.08718689178959059\n  (0, 67874)\t0.14878284660693247\n  (0, 3159)\t0.41178365711725945\n  (0, 73468)\t0.4809827114790237\n  (0, 38088)\t0.10739705953465473
1    (0, 14988)\t0.15233435064749146\n  (0, 66484)\t0.14663603807361472\n  (0, 44008)\t0.21120411735917297\n  (0, 21928)\t0.11581823179974537\n  (0, 56115)\t0.24391033514410979\n  (0, 26327)\t0.14635121510805393\n  (0, 57298)\t0.140307006797506\n  (0, 56411)\t0.19142579477068034\n  (0, 52773)\t0.15282587986574794\n  (0, 23564)\t0.16446724293324655\n  (0, 24726)\t0.14142889243827067\n  (0, 30511)\t0.1324838293546845\n  (0, 39031)\t0.10512419788407477\n  (0, 74030)\t0.08644041777153641\n  (0, 593)\t0.1907966228419227\n  (0, 32643)\t0.13125796666261996\n  (0, 68121)\t0.13716579287092048\n  (0, 1678)\t0.1504646559554162\n  (0, 2262)\t0.3301708473810977\n  (0, 33164)\t0.18900392160046467\n  (0, 70124)\t0.1663726092054478\n  (0, 73531)\t0.07978207858932576\n  (0, 40220)\t0.14821604585843537\n  (0, 18919)\t0.14384662547526483\n  (0, 47769)\t0.15436507008138664\n  (0, 25498)\t0.37109887873910524\n  (0, 7963)\t0.15233435064749146\n  (0, 20907)\t0.1901837949034981\n  (0, 18119)\t0.11584411501583824\n  (0, 50220)\t0.14038016204713533\n  (0, 34633)\t0.1907966228419227\n  (0, 60735)\t0.16820596223387843\n  (0, 56872)\t0.1352037236381358
2    (0, 67150)\t0.09013326169468926\n  (0, 30668)\t0.14865206322444702\n  (0, 14353)\t0.1919311410846162\n  (0, 59024)\t0.23638631129111792\n  (0, 32877)\t0.16482720664115375\n  (0, 5116)\t0.11553370775947241\n  (0, 23662)\t0.17405374040607216\n  (0, 58521)\t0.20570111384180126\n  (0, 39058)\t0.14881317354963242\n  (0, 73556)\t0.20570111384180126\n  (0, 39120)\t0.17051818518985043\n  (0, 2268)\t0.2131069943964167\n  (0, 60488)\t0.15371130875490588\n  (0, 5521)\t0.21536408635188217\n  (0, 39114)\t0.11249427206874478\n  (0, 55773)\t0.15895407815921908\n  (0, 18540)\t0.22371226634235972\n  (0, 33470)\t0.14306754044298156\n  (0, 64516)\t0.21205105193572146\n  (0, 41763)\t0.3241189774907669\n  (0, 34365)\t0.12357523931733008\n  (0, 9449)\t0.1766430066126524\n  (0, 23678)\t0.17361067679478182\n  (0, 45870)\t0.16956745956851174\n  (0, 23293)\t0.19058968450774752\n  (0, 3089)\t0.14326062237382328\n  (0, 55065)\t0.23930861475174864\n  (0, 72518)\t0.14300351227093797\n  (0, 22673)\t0.0857530969376411\n  (0, 18919)\t0.15127507592807513\n  (0, 47769)\t0.1623367084215669
3    (0, 8909)\t0.2524772113861553\n  (0, 72417)\t0.10669961812724565\n  (0, 7105)\t0.15396663207682454\n  (0, 17388)\t0.14548887055378093\n  (0, 65668)\t0.1685749034728842\n  (0, 56573)\t0.1889638851066729\n  (0, 26666)\t0.28473900632941324\n  (0, 6977)\t0.22901804953277988\n  (0, 70658)\t0.29560389640619134\n  (0, 13832)\t0.27703024414064686\n  (0, 24866)\t0.10537286287420299\n  (0, 39514)\t0.16611687068101164\n  (0, 63499)\t0.23825843521001763\n  (0, 64012)\t0.1964233793024457\n  (0, 8881)\t0.1472776452206892\n  (0, 40660)\t0.08650214530694683\n  (0, 26957)\t0.12953598727634266\n  (0, 20613)\t0.19609458847784436\n  (0, 72060)\t0.16964927919961204\n  (0, 8907)\t0.22792417863166378\n  (0, 30266)\t0.19709331709686057\n  (0, 73408)\t0.12241980927214047\n  (0, 63535)\t0.24161232130937726\n  (0, 43540)\t0.23527802018779564\n  (0, 11777)\t0.22687321585182926
4    (0, 35872)\t0.18466136938635244\n  (0, 27260)\t0.2788767351304065\n  (0, 4183)\t0.18886353095881733\n  (0, 11521)\t0.15894062058858632\n  (0, 38707)\t0.13482378002484827\n  (0, 50947)\t0.15738579529165508\n  (0, 30327)\t0.11962425006390406\n  (0, 59366)\t0.19153480778153667\n  (0, 50965)\t0.2040127380406623\n  (0, 22178)\t0.23034823152942452\n  (0, 46378)\t0.23131484437878716\n  (0, 72980)\t0.11843255567852276\n  (0, 52037)\t0.1780164764447958\n  (0, 46119)\t0.18403143489950047\n  (0, 54558)\t0.18862093407838845\n  (0, 16182)\t0.12649643010244851\n  (0, 54687)\t0.25777335115573075\n  (0, 5784)\t0.2323131550419513\n  (0, 26107)\t0.5353377051655905\n  (0, 34790)\t0.12690743812645194\n  (0, 72518)\t0.1754812725200592
<class 'scipy.sparse.csr.csr_matrix'>

In [ ]:
# veamos la primera pelicula y la representacion tfidf de su sinopsis
print(metadata['overview'][0])
print(tfidf_mat[0,:])

Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.
  (0, 17764)	0.13483149538639247
  (0, 4388)	0.1474882034218405
  (0, 38030)	0.10142919482788751
  (0, 21887)	0.10438761058719498
  (0, 19641)	0.13281884272823927
  (0, 48558)	0.10339358185033234
  (0, 59519)	0.13008016104455086
  (0, 12490)	0.12544427954397822
  (0, 51108)	0.13434817283119177
  (0, 29238)	0.10093917370354445
  (0, 50914)	0.09190797940163035
  (0, 39423)	0.11907123344715953
  (0, 1847)	0.140911774178889
  (0, 58571)	0.1135591886873686
  (0, 38693)	0.20627924682810617
  (0, 9874)	0.5028038686135609
  (0, 9087)	0.10635375129287977
  (0, 7491)	0.12380553184830104
  (0, 56872)	0.111248510865236
  (0, 28729)	0.13311522181618415
  (0, 39012)	0.08718689178959059
  (0, 67874)	0.14878284660693247
  (0, 3159)	0.41178365711725945
  (0, 73468)	0.4809827114790237
  (0, 38088)	0.10739705953465473

### 3.1.2 Cálculo de similitudes

Ahora ya podemos calcular las similitudes entre las peliculas basados en sus resumenes. Podríamos utilizar distintas métricas, como la Euclideana, la correlación de Pearson, o la similitud del coseno. 

Por ejemplo, veamos qué ocurre con la similitud del coseno calculada para todo par de películas. Lo bueno de esta métrica del coseno es que es independiente de la magnitud y mide la dirección de los vectores. De este modo, dos vectores paralelos (con angulo relativo de 0°) tienen una similitud de 1, y dos vectores ortogonales, con un angulo de 90° entre ellos obtienen una similitud de 0.  

La *similitud del coseno* se define para todo $x,y \in [0,1]$ tal que

$$
sim_{cos}(x,y)=\frac{\sum_{i=1}^{n}x_i y_i}{\sqrt{\sum_{i=1}^{n}x_i^2} \sqrt{\sum_{i=1}^{n}y_i^2}}
$$

Como tenemos la matriz de representación vectorizada de las palabras para cada pelicula, el cómputo del producto interno obtiene de manera directa el valor de similitud por coseno. De esta manera, utilizamos el `linear_kernel()` de sklearn en lugar de `cosine_similarities()`.

In [ ]:
# Utilizamos el linear_kernel
from sklearn.metrics.pairwise import linear_kernel

El cálculo de las similitudes para cada par de entre todas las 45466 peliculas y sus 76132 entradas es bastante pesado. Si ejecutamos el código sobre toda la matriz `tfidf_mat` en GoogleColab, debemos utilizar los recursos de RAM en la máquina remota. En nuestra máquina local tomemos un conjunto de peliculas más pequeño.

Por ejemplo, tomemos solamente las peliculas más populares:

In [ ]:
m = metadata['vote_count'].quantile(0.90)
pelis_P = metadata.copy().loc[metadata['vote_count'] >= m]
pelis_P.shape

(4555, 25)

In [ ]:
tfidf_P = tfidf_mat[ pelis_P.index, :]
tfidf_P.shape

(4555, 75827)

In [ ]:
# Calculamos la matriz de similitudes por coseno (para un numero reducido de observaciones)
sim_cos = linear_kernel(tfidf_P, tfidf_P)#], dense_output=False)

In [ ]:
sim_cos

array([[1.        , 0.01504121, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.01504121, 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.01879787, 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.01879787, ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.02167055],
       [0.        , 0.        , 0.        , ..., 0.        , 0.02167055,
        1.        ]])

### Ejercicio 3.2

Calcule las similitudes entre peliculas utilizando una funcion de similitud distinta.

In [ ]:
from sklearn.metrics.pairwise import euclidean_distances
Euc = euclidean_distances(tfidf_P, tfidf_P)
Euc

array([[0.        , 1.40353752, 1.41421356, ..., 1.41421356, 1.41421356,
        1.41421356],
       [1.40353752, 0.        , 1.41421356, ..., 1.41421356, 1.41421356,
        1.41421356],
       [1.41421356, 1.41421356, 0.        , ..., 1.4008584 , 1.41421356,
        1.41421356],
       ...,
       [1.41421356, 1.41421356, 1.4008584 , ..., 0.        , 1.41421356,
        1.41421356],
       [1.41421356, 1.41421356, 1.41421356, ..., 1.41421356, 0.        ,
        1.39880624],
       [1.41421356, 1.41421356, 1.41421356, ..., 1.41421356, 1.39880624,
        0.        ]])

Ahora vamos a definir una funcion que tome como entrada el título de una película y devuelve una lista de las peliculas más similares a esa película de entrada

Para ello, primero tomamos una lista de referencia con los distintos titulos e indices de las peliculas:

In [ ]:
indices = pd.Series(pelis_P.index, index=pelis_P['title']).drop_duplicates()
indices.head()

title
Toy Story                      0
Jumanji                        1
Father of the Bride Part II    4
Heat                           5
Sudden Death                   8
dtype: int64

### 3.2 Funcion de recomendacion

A continuación construimos la función de recomendación. Los pasos que se van a seguir son los siguientes:

- Obtener el índice de la pelicula dado su título
- Obtener la lista con los scores de similitud para esa película con respecto a las demás películas. 
- Ordenar la lista de tuplas en base al score de similitud
- Obtener el top-k de peliculas más similares
- Devolver los títulos que corresponden con los índices de las peliculas más similares

In [ ]:
def rec_pelis(titulo, num_pelis, sim):
    # Indice de la pelicula para el titulo
    idx = indices[titulo]

    # Obtiene los valores de similtud para la pelicula de entrada
    sim_scores = list(enumerate(sim[idx]))

    # Ordena las peliculas a base a los scores de similitud
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Scores de las k películas más similares (nótese que dejamos el primer elemento fuera)
    sim_scores = sim_scores[1:num_pelis+1]

    # Indices de las peliculas
    pelis_indices = [i[0] for i in sim_scores]

    # Devuelve las k peliculas mas similares
    return pelis_P['title'].iloc[pelis_indices]

In [ ]:
rec_pelis('Toy Story', 7, sim_cos)

15348    Toy Story 3
2997     Toy Story 2
10301    The 40 Year Old Virgin
1071     Rebel Without a Cause
3057     Man on the Moon
2157     Indecent Proposal
10585    Match Point
Name: title, dtype: object

Aunque las primeras dos entradas de la recomendación parecen bastante acertadas, la tercera o la séptima recomendación parece totalmente inapropiada, sobre todo si tenemos en cuenta que la película de entrada está dirigida al público infantil.

Recordemos los géneros de nuestra base de datos:

In [ ]:
generos = pelis_P.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)
list(pd.unique(generos))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

['Animation',
 'Comedy',
 'Family',
 'Adventure',
 'Fantasy',
 'Action',
 'Crime',
 'Drama',
 'Thriller',
 'Romance',
 'Horror',
 'Science Fiction',
 'Mystery',
 'History',
 'War',
 'Western',
 'Music',
 'Documentary',
 'TV Movie']

### Pregunta 3.3

Qué solución puede plantear para este problema?

**Una posible solución al problema anterior se puede dar  mediante la integración de la variable 'Género' en la función, de modo que las recomendaciones resultantes corespondan con el mismo tipo de género al de la película consultada.**

### Ejercicio 3.4

Escriba su codigo a continuación, donde explore un mejor recomendador que el propuesto arriba. Note que no tenemos más información que la descripcion de las peliculas y su valoracion media. Por ello la evaluacion de la salida es, por el momento, completamente subjetiva (depende de usted). Explique por qué su propuesta es mejor que la que hemos desarrollado hasta el momento.

In [ ]:
def rec_pelis1(titulo, num_pelis, sim):
    # Indice de la pelicula para el titulo
    idx = indices[titulo]

    # Obtiene los valores de similtud para la pelicula de entrada
    sim_scores = list(enumerate(sim[idx]))

    # Ordena las peliculas a base a los scores de similitud
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Scores de las k películas más similares (nótese que dejamos el primer elemento fuera)
    sim_scores = sim_scores[1:num_pelis+1]

    # Indices de las peliculas
    pelis_indices = [i[0] for i in sim_scores]

    # Devuelve las k peliculas mas similares
    return pelis_P[['title','genres']].iloc[pelis_indices]

In [ ]:
retorno=rec_pelis1('Toy Story', 7, sim_cos)

In [ ]:
retorno.head()

                        title                       genres
15348  Toy Story 3             [Animation, Family, Comedy]
2997   Toy Story 2             [Animation, Comedy, Family]
10301  The 40 Year Old Virgin  [Comedy, Romance]
1071   Rebel Without a Cause   [Drama]
3057   Man on the Moon         [Comedy, Drama, Romance]

In [ ]:
genero = list(pelis_P.loc[pelis_P['original_title'] == titulo].genres)[0][0] ## genero de la pelicula de entrada
genero

'Animation'

In [ ]:
for i in range(0,retorno['genres'].shape[0]):
  if genero in retorno['genres'].iloc[i]:
    print(retorno['title'].iloc[i])

Toy Story 3
Toy Story 2

**La recomendación radica en las peliculas con contenido similar que ademas pertenezcan al genero PROPIO de la pelicula que se vió. Por lo anterior, se eliminan sesgos de cara al publico en el que se enfoca la pelicula. Cabe resaltar que al considerar los generos secundarios de la pelicula consultada, la recomendacion desmejora al opcionar peliculas intrinsecamente diferentes.**

### Ejercicio 3.5 

Proponga una metodología, con su respectivo algoritmo, que permita medir, de acuerdo con una métrica de su elección, el nivel de acierto de las recomendaciones.

*Ayuda: considere un sistema de recomendación basado en contenido donde solo hay un usuario (promedio)*

**1. Para cada genero, particionar las peliculas vistas por el usuario en un porcentaje para entrenar y para testear, por ejemplo, 70-30.**

**2. Correr el algoritmo con la partición de entrenamiento.**

**3. Contar porcentualmente el número de recomendaciones que en efecto vió el usuario. La anterior será la métrica del nivel de acierto de las recomendaciones.**