<a href="https://colab.research.google.com/github/Alexher90/An-lisis-de-Datos-2/blob/master/Solucion_Semana10_IntroSistemasRecomendacion_Actividad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## MIIA-4203 MODELOS AVANZADOS PARA ANÁLISIS DE DATOS II


# Introducción a Sistemas de Recomendación

## Actividad 10


### Profesor: Camilo Franco (c.franco31@uniandes.edu.co)

## Actividad en grupos
### **Nombres: Alexander Hernández Páez (200920588), Alexander Camargo (200911325), Juan David Cortés (201728568), Wilson Felipe González (200924943).**

**Instrucciones:** Por favor escriba los nombres de los integrantes de su grupo. Esta actividad debe ser entregada a más tardar dentro de 8 días, con la respuesta para los ejercicios y preguntas en cada numeral.

En este cuadernos estudiaremos una primera introducción a los sistemas de recomendación, examinando un modelo de recomendación en base a la popularidad, sin ningún grado de personalización. En futuras actividades exploraremos otros sistemas basados en contenido o en filtrado colaborativo, los cuales toman en cuenta las preferencias de los usuarios. 

Los sistemas de recomendación están entre las aplicaciones más populares de la ciencia de datos actualmente. El marco que ofrecen estos sistemas permite representar modelos de decisión junto con métodos estadístico/computacionales para **aprender y estimar** las preferencias de los usuarios.

## Introducción

En esta introducción vamos a construir un modelo simple basado en popularidad. Aprenderemos nociones que nos permitirán construir modelos más complejos de recomendación. 

En este cuaderno vamos a trabajar con una base de datos de películas IMDB (https://www.imdb.com/) 

En términos generales, los sistemas de recomendación pueden clasificarse en 3 tipos:

- **Recomendadores simples:** genera recomendaciones para cada usuario según la popularidad del ítem o producto. Por ejemplo, proponer películas o un género en base a su popularidad o su crítica, donde una buena crítica aproxima una mayor probabilidad de que la película sea apreciada por una audiencia "promedio".
- **Recomendadores basados en contenido:** sugiere elementos similares en función de un elemento en particular, como por ejemplo el género, la sinopsis o el reparto (actores, etc). De esta manera, si el usuario tiene unas preferencias específicas sobre un ítem/artículo en particular, también podría tener preferencia por un ítem *similar*.
- **Recomendadores por filtrado colaborativo:** estos sistemas generan recomendaciones a partir de similitudes entre usuarios, prediciendo la calificación o preferencia de un usuario sobre un ítem, o un grupo de atributos de dicho ítem, según las calificaciones y preferencias observadas de otros usuarios. 

Por último se puede considerar también un cuarto tipo de recomendadores, que son los de tipo **Híbrido**. Estos hacen referencia al uso simultaneo de las distintas metodologias antes señaladas y de múltiples fuentes de información o tecnologías específicas, como pueden ser las redes sociales o fuentes de información geográfica, demográfica, etc.

Para profundizar en los sistemas de recomendación se pueden consultar las siguientes fuentes:
- Ch. Aggarwal. Recommender Systems. Springer, 2016.
- J. Leskovec, A. Rajaraman, J. Ullman. Mining of Massive Datasets. Cambridge University Press (http://www.mmds.org/)

## 1. Sistema de recomendación simple

Los recomendadores simples generan recomendaciones basadas en su popularidad, de acuerdo con una *preferencia promedio*. 

La pregunta es,

**¿cómo medimos la popularidad de un producto/ítem?**

Una opción es la de elegir una métrica determinada para puntuar las películas, y en base a esa métrica generar un valor de preferencia por el ítem. De esta manera es posible consturir un *orden lineal* o un *ranking estricto* con las mejores películas de la base de datos IMDB.

Pasos a seguir:
- Elegir la métrica con la que se va a calificar cada película. Este punto también se puede entender como un modelo para estimar las preferencias por una película.
- Calcular el valor de preferencia sobre cada película.
- Ordenar las películas según su valor o puntuación y obtener una lista con las mejores k peliculas.

Manos a la obra, primero carguemos el conjunto de datos como un data frame en la bilbioteca Pandas:

In [337]:
# Importamos la biblioteca Pandas
import pandas as pd
import numpy as np

# Cargamos los datos de peliculas de la base de datos IMDB
metadata = pd.read_csv('movies_metadata.csv', low_memory=False)

print(metadata.shape)
      
list(metadata)

(45466, 24)

['adult',
 'belongs_to_collection',
 'budget',
 'genres',
 'homepage',
 'id',
 'imdb_id',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'poster_path',
 'production_companies',
 'production_countries',
 'release_date',
 'revenue',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'video',
 'vote_average',
 'vote_count']

In [338]:
# Así se ven los datos
metadata.head(4)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0

[4 rows x 24 columns]

In [339]:
metadata[['original_title', 'popularity']][1:10]

                original_title popularity
1                      Jumanji  17.015539
2             Grumpier Old Men    11.7129
3            Waiting to Exhale   3.859495
4  Father of the Bride Part II   8.387519
5                         Heat  17.924927
6                      Sabrina   6.677277
7                 Tom and Huck   2.561161
8                 Sudden Death    5.23158
9                    GoldenEye  14.686036

In [340]:
len(metadata)

45466

### Rating vs. Popularidad

Con esta información vamos a construir un sistema que recomiende películas basados directamente en su *rating*, o **voto promedio**. Sin embargo, es cierto que hay otro atributo relevante como lo es el de su **popularidad**. Por ejemplo, si un solo usuario califica con 10 una pelicula, pero 5000 usuarios le dan en promedio un 8.3, solo en base al rating la primera película sería considerada mejor que la segunda.


Bajo una perspectiva de *los grandes números*, la valoración o voto promedio de una película tiende a converger hacia un valor que refleje la calidad de la película a medida que el número de votos aumenta. Con poca información, o pocos votos, es más difícil estimar la calidad promedio de la película.  


Entonces, 

**¿qué tipo de métrica nos sirve para evaluar apropiadamente la preferencia por una película?** 

Tengamos en cuenta que en base a esta métrica se tendrán mejores o peores recomendaciones!

### Ejercicio 1.1

Examine los datos y proponga una métrica que permita estimar la preferencia promedio por una película.

Para la generación de un índice que mida el nivel de popularidad de una película, el grupo de trabajo considera relevante relacionar los factores de rentabilidad, número de vistas y voto promedio. La rentabilidad es generada dividiendo los ingresos sobre el presupuesto de cada película, y este margen se multiplica con las demás variables propuestas.

Para estimar la preferencia promedio por película, generamos un índice Ii de la siguiente manera:

![image.png]()

En donde:
Ii = Índice de popularidad por película.

Ni = Revenue (ingresos por cada película).

Bi = Budget (presupuesto por película).

Vi = Vote count (Número de votos por película).

Vmax = Máximo número de votos.

Ri = Rating promedio de cada película.

### Ponderación entre rating y popularidad

Una opción puede consistir en ponderar el rating que recibe una película por su número de votos. De esta manera se pueden prevenir situaciones donde una película con un voto de 10 obtenga una mejor calificación que una película con 1000 votos con un promedio de 9.5.  

De esta manera, el voto promedio ponderado $\mu_i$, de la $i$-ésima película lo definimos como:

$$
\mu_i  = \left( \frac{v_i}{v_{max}} \right) R_i 
$$

donde $v_i$ es el número de votos para la $i$-ésima película, $v_{max}$ es el máximo número de votos que recibe la película más popular, y $R$ es el rating promedio de la pelicula.


En la base de datos tenemos los valores de $v_i$ (vote_count) y $R$ (vote_average) para cada pelicula. Además podemos agregar un filtro para que considere las películas con un minimo número de votos $v_{min}$.

Nos quedamos con las columnas necesarias para calcular el rating ponderado más el link de la pagina (en caso de que esté disponible):

In [341]:
pelisR = metadata[['original_title', 'homepage', 'vote_count', 'vote_average']]
pelisR.shape

(45466, 4)

In [342]:
# Calificacion de peliculas basada en la ponderacion de su rating 
def rating_ponderado(x):
    """
    Input:
    x: datos de rating y votacion de las peliculas
    m: minimo numero de votos
    Output:
    rating ponderado
    """
    m = x['vote_average'].max()
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+m) * R)

Definimos una nueva respuesta 'score' y calculamos su valor con la funcion rating_ponderado().

A continuación ordenamos las películas basados en el score y ofrecemos el top 15 de películas preferidas:

In [343]:
import warnings
warnings.filterwarnings("ignore", category=Warning)

# si tiene al menos vmin votos, incluimos la pelicula
vmin = 1
pelisRF = pelisR.copy().loc[pelisR['vote_count'] >= vmin]
pelisRF['score'] = rating_ponderado(pelisRF)

# ordenamos las peliculas de acuerdo con el score
pelisRF = pelisRF.sort_values('score', ascending=False)

# Mostramos el top15 de las peliculas
pelisRF[['original_title', 'homepage', 'vote_count', 'vote_average', 'score']].head(15)

                        original_title  ...     score
10309      Dilwale Dulhania Le Jayenge  ...  8.964382
314           The Shawshank Redemption  ...  8.489842
834                      The Godfather  ...  8.485913
40251                            君の名は。  ...  8.418269
39085                     Planet Earth  ...  8.326882
12481                  The Dark Knight  ...  8.293240
2843                        Fight Club  ...  8.291433
292                       Pulp Fiction  ...  8.290438
522                   Schindler's List  ...  8.281332
23673                         Whiplash  ...  8.281076
5481                          千と千尋の神隠し  ...  8.279135
2211                   La vita è bella  ...  8.277279
1178            The Godfather: Part II  ...  8.275788
1152   One Flew Over the Cuckoo's Nest  ...  8.272434
1176                            Psycho  ...  8.265631

[15 rows x 5 columns]

In [344]:
print(pelisRF.shape)

(42561, 5)

Examinemos el efecto de cambiar el mínimo numero de votos a considerar:

In [345]:
# si tiene al menos mil votos incluimos la pelicula
vmin = 1000
pelisRF = pelisR.copy().loc[pelisR['vote_count'] >= vmin]
pelisRF['score'] = rating_ponderado(pelisRF)

# ordenamos las peliculas de acuerdo con el score
pelisRF = pelisRF.sort_values('score', ascending=False)

# Mostramos el top15 de las peliculas
pelisRF[['original_title', 'homepage', 'vote_count', 'vote_average', 'score']].head(15)

                        original_title  ...     score
314           The Shawshank Redemption  ...  8.491364
834                      The Godfather  ...  8.488023
40251                            君の名は。  ...  8.430429
12481                  The Dark Knight  ...  8.294254
2843                        Fight Club  ...  8.292717
292                       Pulp Fiction  ...  8.291871
522                   Schindler's List  ...  8.284126
23673                         Whiplash  ...  8.283909
5481                          千と千尋の神隠し  ...  8.282258
2211                   La vita è bella  ...  8.280679
1178            The Godfather: Part II  ...  8.279410
1152   One Flew Over the Cuckoo's Nest  ...  8.276558
1176                            Psycho  ...  8.270769
1184       Once Upon a Time in America  ...  8.236584
351                       Forrest Gump  ...  8.191454

[15 rows x 5 columns]

In [346]:
print(pelisRF.shape)

(1121, 5)

Veamos en qué consiste esa pelicula en japonés:

In [347]:
import webbrowser

webbrowser.open(pelisRF['homepage'][40251])

False

### Ejercicio 1.2

Examine cómo varían los resultados si tomamos directamente la variable de popularidad.

In [348]:
pelisRP = metadata[['original_title', 'homepage', 'vote_count', 'vote_average', 'popularity']]
pelisRP.shape

(45466, 5)

In [349]:
# Calificacion de peliculas basada en la ponderacion de su rating 
def rating_ponderado_pop(x):
    """
    Input:
    x: datos de rating y votacion de las peliculas
    m: minimo numero de votos
    Output:
    rating ponderado
    """
    m = x['popularity']
    return (m)

In [350]:
import warnings
warnings.filterwarnings("ignore", category=Warning)

# si tiene al menos vmin votos, incluimos la pelicula
vmin = 1
pelisRPP = pelisRP.copy().loc[pelisR['vote_count'] >= vmin]
pelisRPP['score'] = rating_ponderado_pop(pelisRPP)

# ordenamos las peliculas de acuerdo con el score
pelisRPP = pelisRPP.sort_values('popularity', ascending=False)

# Mostramos el top15 de las peliculas
pelisRPP[['original_title', 'homepage', 'vote_count', 'vote_average', 'popularity']].head(15)

                      original_title  ... popularity
536                     Blade Runner  ...  96.272374
3493                        Dinosaur  ...   9.998415
10517                        Jarhead  ...   9.997032
11252                  The Last Kiss  ...   9.996541
18029                    Dream House  ...   9.995617
1360                          Hamlet  ...   9.994088
12053  4 luni, 3 săptămîni și 2 zile  ...   9.990406
12488                     Black Dawn  ...   9.989719
25394                      Black Sea  ...   9.989679
5214                Hollywood Ending  ...   9.987317
4225                  Uncommon Valor  ...   9.987072
4294              Viskningar och rop  ...   9.983092
14043  The Haunting of Molly Hartley  ...   9.982123
20993             The Lords of Salem  ...   9.981121
12282           Charlie Wilson's War  ...   9.979162

[15 rows x 5 columns]

In [351]:
# si tiene al menos mil votos incluimos la pelicula
vmin = 1000
pelisRPP = pelisRP.copy().loc[pelisR['vote_count'] >= vmin]
pelisRPP['score'] = rating_ponderado_pop(pelisRPP)

# ordenamos las peliculas de acuerdo con el score
pelisRPP = pelisRPP.sort_values('popularity', ascending=False)

# Mostramos el top15 de las peliculas
pelisRPP[['original_title', 'homepage', 'vote_count', 'vote_average', 'popularity']].head(15)

                     original_title  ... popularity
536                    Blade Runner  ...  96.272374
3893                What Women Want  ...   9.963079
21162              White House Down  ...   9.920223
12356                         Rambo  ...    9.91556
37927  Neighbors 2: Sorority Rising  ...   9.914008
12368                     In Bruges  ...   9.895652
2586                 Wild Wild West  ...   9.887602
2556                   Notting Hill  ...   9.874043
9542                    The Aviator  ...    9.86738
13507         Män som hatar kvinnor  ...   9.858687
17358               Horrible Bosses  ...   9.856955
227                 Dumb and Dumber  ...   9.844558
608                  The Aristocats  ...   9.834047
16760                  The Mechanic  ...   9.832342
21163               The World's End  ...   9.830382

[15 rows x 5 columns]

**De acuerdo con los resultados obtenidos en el anterior ejercicio, podemos ver que los mismos cambian totalmente. Ninguna de las películas del top 15 del indicador propuesto (score) coincide con las del top 15 tomando directamente la variable 'Popularidad'.**

### Recomendación de peliculas mas populares por genero

In [352]:
import numpy as np
from ast import literal_eval

# trabajamos la informacion por generos
metadata['genres'] = metadata['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

# añadimos la variable del año
metadata['year'] = pd.to_datetime(metadata['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

metadata.head(3)

   adult                              belongs_to_collection  ... vote_count  year
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  ...     5415.0  1995
1  False                                                NaN  ...     2413.0  1995
2  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...  ...       92.0  1995

[3 rows x 25 columns]

Primero nos quedamos con todos los generos:

In [353]:
generos = metadata.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)
generos.name = 'genre'
gen_md = metadata.drop('genres', axis=1).join(generos)

gen_md.head(3)

   adult                              belongs_to_collection  ...  year      genre
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  ...  1995  Animation
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  ...  1995     Comedy
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  ...  1995     Family

[3 rows x 25 columns]

Construimos una funcion para un género particular y que tome en cuenta peliculas con un número vmin de votos:

In [354]:
def rec_gen(genero, vmin):
    df = gen_md[gen_md['genre'] == genero]
    v = df[df['vote_count'].notnull()]['vote_count'].astype('int')
    R = df[df['vote_average'].notnull()]['vote_average'].astype('int')
    m = df['vote_average'].max()
    
    pelisG = df[(df['vote_count'] >= vmin) & (df['vote_count'].notnull()) & (df['vote_average'].notnull())][['title', 'year', 'vote_count', 'vote_average', 'popularity', 'overview', 'homepage']]
    pelisG['vote_count'] = pelisG['vote_count'].astype('int')
    pelisG['vote_average'] = pelisG['vote_average'].astype('int')
    
    pelisG['wr'] = v/m * R
    pelisG = pelisG.sort_values('wr', ascending=False).head(250)
    
    return pelisG

Veamos el Top-15 de recomendaciones en Ciencia Ficción:

In [355]:
k = 15
scifi = rec_gen('Science Fiction', 1000)
scifi.head(k)

                              title  ...       wr
15480                     Inception  ...  11260.0
22879                  Interstellar  ...   8949.6
14551                        Avatar  ...   8479.8
17818                  The Avengers  ...   8400.0
23753       Guardians of the Galaxy  ...   7009.8
26553            Mad Max: Fury Road  ...   6740.3
2458                     The Matrix  ...   6355.3
12588                      Iron Man  ...   6265.7
18244              The Hunger Games  ...   5780.4
26555  Star Wars: The Force Awakens  ...   5595.1
256                       Star Wars  ...   5422.4
20830                    Iron Man 3  ...   5370.6
25084                Jurassic World  ...   5305.2
26567    Captain America: Civil War  ...   5223.4
30051                   The Martian  ...   5209.4

[15 rows x 8 columns]

Inception e Interstellar aparecen en las dos primeras posiciones. Personalmente me gusta más Interstellar (si quieres ver un agujero negro, esta película es lo mejor que podrás conseguir), pero reconozco que Inception tiene mucho nivel. Podemos seguir refinando este tipo de recomendaciones prestando atención a los distintos atributos que tenemos disponibles sobre las películas.

### Ejercicio 1.3

Elija el género de su interés y aplique la métrica propuesta en el Ejercicio 1.1

In [356]:
def rec_gen_prop(genero, vmin):
    df = gen_md[gen_md['genre'] == genero]
    v = df[df['vote_count'].notnull()]['vote_count'].astype('int')
    R = df[df['vote_average'].notnull()]['vote_average'].astype('int')
    m = df['vote_average'].max()
    
    N = df[df['revenue'].notnull()]['revenue'].astype('float')
    B = df[df['budget'].notnull()]['budget'].astype('float')
    V = df[df['vote_count'].notnull()]['vote_count'].astype('int')
    R = df[df['vote_average'].notnull()]['vote_average'].astype('int')
    Vmax = df['vote_average']

    pelisG = df[(df['vote_count'] >= vmin) & (df['vote_count'].notnull()) & (df['vote_average'].notnull())][['title', 'year', 'vote_count', 'vote_average', 'popularity', 'overview', 'homepage']]
    pelisG['vote_count'] = pelisG['vote_count'].astype('int')
    pelisG['vote_average'] = pelisG['vote_average'].astype('int')
    
    pelisG['wr'] = (N/B) * V/Vmax * R
    pelisG = pelisG.sort_values('wr', ascending=False).head(250)

    return pelisG

In [357]:
k = 15
genre1 = rec_gen_prop('Family', 1000)
genre1.head(k)

                                 title  ...             wr
1909                             Bambi  ...  398805.396442
1003               Alice in Wonderland  ...  296868.000000
1065        E.T. the Extra-Terrestrial  ...  243248.450231
587    Snow White and the Seven Dwarfs  ...  213157.020597
993                         Cinderella  ...  141152.400730
1225                Back to the Future  ...  125144.410796
359                      The Lion King  ...   96690.991189
1969                   The Jungle Book  ...   90868.357875
1976    One Hundred and One Dalmatians  ...   78240.631545
5481                     Spirited Away  ...   70098.170407
30700                          Minions  ...   69301.276005
579                         Home Alone  ...   64934.299742
0                            Toy Story  ...   61296.820870
21161                  Despicable Me 2  ...   60404.380976
581                            Aladdin  ...   59515.389034

[15 rows x 8 columns]